html,
body {
  background-color: black;
  font-family: "Outfit", sans-serif;
  margin: 0;
}
p {
  font-size: 0.85vw;
}

h3 {
  font-size: 1.25vw;
  font-weight: 700;
  margin-top: 0.75em;
}

section {
  max-width: 81.5%;
  height: 100vh;
  display: block;
  margin: auto;
  padding-top: 18vh;
  background-color: #d4e0ef;
}

img {
  max-width: 208px;
  border-radius: 8px;
  margin-top: 1rem;
}

.qr-code-container {
  display: block;
  margin: auto;
  background-color: #fffefe;
  border-radius: 8px;
  max-width: 23.5%;
  text-align: center;
}

.qr-text {
  max-width: 78%;
  display: block;
  margin: auto;

  padding-bottom: 1rem;
}
